.ruff_cache/
.idea/

venv/
.venv/

.env
.env.local
.env.dev
.env.prod
.env.test

*.pyc
*.__pycache__

static/*
!static/__init__.py

uploads/*
!uploads/__init__.py

logs/*
!logs/__init__.py

celerybeat-schedule*
*.log
